{% extends "layout.html.jinja2" %}

{% block content %}
<h1>Url Shortener</h1>
<form action="/" method="post">
    <input type="text" name="url" />
    <button type="submit">Shorten</button>
</form>
{% endblock %}

